@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);




nav {
    background-color: #aaaaaa;
    font-family: 'Crimson Text', serif;
    }

nav a{
    background-color: #89C3B6;
    color: white;
    display: block;
    float: left;
    border: 1px black solid;
    padding: 20px;
    text-decoration: none;;
}

nav a:hover{
    background-color: #aaaaaa;
}




header {
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    background-color: rgba(150,215,200, 0.4);
    padding: 10px;
    border: 1px black solid;
}

body{
    font-family: 'Crimson Text', serif;
}

#topsection{
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

#article1 {
    float:left;
    width: 56%;
    padding: 2%;
    margin: 0;
}

img.article_img{
  display: block;
  width: 100%;
  margin:0;
}

#about {
    float: right;
    font-size: 14px;
    width: 36%;
    padding: 2%;
    margin: 0;
}


img.post_img{
    width: 50%;
    height: auto;

}




.postsnippet {
    float: left;
    width: 23%;
    padding: 2%;
    margin: 0;
}

#post1 {
  background-color: #AC54FF;
}

#post2 {
  background-color: #5485FF;
}

#post3 {
  background-color: #47FFF2;
}

#post4{
    background-color: #5485FF;
}




footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}


.wrapper {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}


section a{
    background-color: #89C3B6;
    color: white;
    display: block;
    float: left;
    border: 1px black solid;
    padding: 20px;
    text-decoration: none;
}

section a:hover{
    background-color: #aaaaaa;

}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
