@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);




nav {
    background-color: #aaaaaa;
    font-family: 'Crimson Text', serif;
    }

nav a{
    background-color: #89C3B6;
    color: white;
    display: block;
    float: left;
    border: 1px black solid;
    padding: 20px;
}

nav a.hover{
    background-color: #aaaaaa;
}

.clearfix:after: {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
    font-size: 0;
}




header {
    font-family: 'Berkshire Swash', cursive;
    text-aling: center;
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

body{
    font-family: 'Crimson Text', serif;
}

#profile, #about{
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}


img.article_img{
    height: 100px;
    width: 150px;
}

#article1 {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
    float:left;
}


footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}


.wrapper, .postsnippet {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

section a{
    background-color: #89C3B6;
    color: white;
    display: block;
    float: left;
    border: 1px black solid;
    padding: 20px;
}

