@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body{
	background-color: #89C3B6;
}

h1 {
	font-family: 'Dancing Script', cursive;
	text-align: center;
	color: teal;
	font-size: 40px;

}


#slogan {
	font-family: 'Berkshire Swash', cursive;
	text-align: center;
	color: teal;
	font-size: 30px;
	
}

p,ul {
	
	font-size: 20px;
	text-align: left;
	text-decoration: none;
	color: black;
}

