@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');


body{
	background-color: #89C3B6;
}

h1 {
	font-family: 'Berkshire Swash', cursive;
	text-align: center;
	color: teal;
	font-size: 40px;

}


#slogan {
	font-family: 'Berkshire Swash', cursive;
	text-align: center;
	color: teal;
	font-size: 30px;
	
}

p,ul {
	font-family: 'Crimson Text', serif;
	font-size: 20px;
	text-align: left;
	color: black;
}

