@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);




nav {
    background-color: #82CFC1;
    font-family: 'Crimson Text', serif;
    }

nav a{
    background-color: #82CFC1;
    color: white;
    display: block;
    float: left;
    border: 1px black solid;
    padding: 20px;
    text-decoration: none;
}

nav a:hover{
    background-color: #aaaaaa;
}





header {
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    background-color: #89C3B6;
    border: 1px black solid;
    padding: 20px;
}

body{
    font-family: 'Crimson Text', serif;
}




#about {
    float: right;
    font-size: 14px;
    width: 30%;
    padding: 2%;
    margin: 0;
    background-color: #89C3B6;
    height: auto;
}
 #moreabout{
    background-color: #aaaaaa;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin: 10px;
 }






footer {
    background-color: #82CFC1;
    border: 1px black solid;
    padding: 20px;
}



section a, article a{
    background-color: #89C3B6;
    color: white;
    display: block;
    float: left;
    border: 1px black solid;
    padding: 20px;
    text-decoration: none;
}

section a:hover{
    background-color: #aaaaaa;

}

.wrapper {
    background-color: #89C3B6;
    border: 1px black solid;
    padding: 80px;
}

body{
    background-color: #aaaaaa;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
