@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);


header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

.profile, #about{
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

.article_img{
	width: .2em
	background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}


#article1 {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}


.wrapper, .postsnippet {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}



