@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);


header {
    background-color: [enter color here];
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: [enter color here];
    border: 1px black solid;
    padding: 20px;
}

aside {
    background-color: [enter color here];
    border: 1px black solid;
    padding: 20px;
}

article {
    background-color: [enter color here];
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: [enter color here];
    border: 1px black solid;
    padding: 20px;
}


div/section {
    background-color: [enter color here];
    border: 1px black solid;
    padding: 20px;
}



h1 {
	font-family: 'Berkshire Swash', cursive;
	text
	text-align: center;
	color: teal;
	font-size: 40px;

}

#slogan {
	text-align: center;
	color: teal;
	font-size: 30px;
	font-family: 'Berkshire Swash', cursive;
	font-style: italic;

}
 

p,ul {
	color: 000;
	font-size: 20px;
	text-decoration: none;
	font-family: 'Crimson Text', serif;

	width: 500px;
	border: 2px solid black;
	margin: auto;

}
