body{
	background-color: #89C3B6;
	font-family: Arial, Serif; 
}

h1 {
	text-align: center;
	color: teal;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;

}


#slogan {

	text-align: center;
	color: teal;
	font-style: italic;
	font-size: 30px;
}

p,ul {
	color: 000;
	font-size: 20px;
	text-align: left;
}

img { align-self: 

}

