body{
	background-color: 83C3B6;
	font-family: Arial, Serif; 
}

h1 {
	text-align: center;
	color: teal;
	font-size: 20;
	font-weight: bold;
	text-transform: uppercase;

}

#slogan{
color: teal;
	font-style: italic;
	font-size: 20 
	text-align:center;

}

p,ul {
	color: 000;

}